// spinner
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  .ctn-spinner {
    display: grid;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
  }
  
  .mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 10%;
  }