<!-- cards home -->  
    <section class="container">
        <mat-card class="example-card">
            <img mat-card-image class="img-home" src="../../../assets/images/home_1.jpg" alt="home 1">
        </mat-card>
        <mat-card class="example-card">
            <img mat-card-image class="img-home" src="../../../assets/images/home_2.jpg" alt="home 2">
        </mat-card>  
    </section>
     
    <mat-divider></mat-divider>
    

    <section class="container">  
        <mat-card class="example-card card-unique align-m card-seo">
            <img mat-card-image class="img-home" src="../../../assets/images/home_3.jpg" alt="home 3">
        </mat-card>
    </section>

    
    <mat-divider></mat-divider>
    
    <section class="container ctn">
        <mat-card class="example-card card-text align-m">
            <h3>
               Analisamos pra você
            </h3>
            <p class="txt-analise">
                    Temos como ponto forte da nossa equipe sempre entender as necessidades do 
                    cliente e trabalhar da melhor forma para alcançar os objetivos esperados.
                    Buscamos entender e direcionar nossos clientes no caminho mais preciso com 
                    suas metas no mercado de trabalho.
            </p>
        </mat-card>
    </section>